.form {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
